apt|python-pip python-dev libevent-dev graphviz vim python-tk git mercurial tmux htop supervisor python-rpi.gpio
pip|simpleai django pyparsing==1.5.7 pydot flask virtualenv
pip|pydot==1.0.28 --allow-external pydot --allow-unverified pydot pudb
