apt|python-pip python-dev libevent-dev graphviz vim python-tk git mercurial tmux
pip|simpleai django pyparsing==1.5.7 pydot flask virtualenv python-rpi.gpio
pip|pydot==1.0.28 --allow-external pydot --allow-unverified pydot pudb
